.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(0, 0, 0, 0.4);
  height: 95vh;
  width: 80vw;
  border-radius: 33px;
  backdrop-filter: blur(10px);
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .col {
    padding: 20px;
    &:not(:last-child) {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .logo {
      img {
        width: 100px;
      }
    }
    .name {
      font-size: 22px;
      font-weight: 600;
      color: rgba(255, 255, 255, 10);
      margin-bottom: 20px;
      span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    .menu {
      width: 100%;
      .actions {
        position: absolute;
        width: 120px;
        height: 70px;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.1);
        margin-bottom: 150px;
        margin-left: 150px;
        border-radius: 5px;
        color: white;
        .row {
          cursor: pointer;
          height: 50%;
          display: flex;
          align-items: center;
          padding: 8px;
          transition: all 0.2s ease 0s;
          &:hover {
            background: rgba(255, 255, 255, 0.2);
          }
          &:first-child {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          }
        }
      }
      .profile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .profilePicture {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          overflow: hidden;
          display: grid;
          place-content: center;
          background: rgba(255, 255, 255, 0.1);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .profileName {
          margin-left: 10px;
          p {
            font-size: 20px;
            font-weight: 600;
            color: rgba(255, 255, 255, 1);
          }
          span {
            font-size: 16px;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.7);
          }
        }
        .profileActions {
          margin-left: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.1);
          transition: all 0.3s ease 0s;
          cursor: pointer;
          &:hover {
            background: rgba(255, 255, 255, 0.2);
          }
          &:active {
            background: rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }

  .middle {
    overflow: auto;
    .inputSection {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      input {
        all: unset;
        background: none;
        outline: none;
        border: none;
        line-height: 40px;
        color: white;
        &::placeholder {
          color: rgba(255, 255, 255, 0.6);
        }
      }
      button {
        all: unset;
        width: 100px;
        height: 30px;
        border-radius: 7px;
        background: white;
        display: grid;
        place-content: center;
        align-self: flex-end;
        margin: 30px 0;
        transition: all 0.2s ease 0s;
        cursor: pointer;
        &:hover {
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
    .blog {
      padding: 10px;
      color: white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      text-align: left;
      justify-content: space-between;
      min-height: 130px;
      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      .content {
        all: unset;
        width: 100%;
        input {
          all: unset;
          font-size: 14px;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.4);
          height: auto;
          width: 100%;
          border: none;
          display: inline;
          font-family: inherit;
          font-size: inherit;
          padding: none;
          width: auto;
        }
      }
      span {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 600;
        cursor: normal;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.9);
      }
      .right {
        cursor: pointer;
        flex-direction: row;
      }
    }
    .post {
      padding: 10px;
      color: white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      text-align: left;
      flex-direction: column;
      .left {
        all: unset;
        input {
          all: unset;
          font-size: 14px;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.4);
          height: auto;
          width: 100%;
          border: none;
          display: inline;
          font-family: inherit;
          font-size: inherit;
          padding: none;
          width: auto;
        }
      }
      span {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 600;
        cursor: normal;
      }
      p {
        font-size: 15px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.9);
      }
      .right {
        cursor: pointer;
      }
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .item {
    display: grid;
    place-content: center;
    height: 70px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.2s ease 0s;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  .active {
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid white;
  }
}

.symbol {
  opacity: 0.7;
  transition: all 0.15s ease 0s;
  cursor: pointer;
}

.like {
  &:hover {
    opacity: 1;
    filter: invert(51%) sepia(10%) saturate(3886%) hue-rotate(298deg)
      brightness(102%) contrast(98%);
  }
}

.comment {
  &:hover {
    opacity: 1;
    filter: invert(56%) sepia(11%) saturate(7470%) hue-rotate(201deg)
      brightness(105%) contrast(98%);
  }
}

.delete {
  &:hover {
    opacity: 1;
    color: #fd5b86;
  }
}

.edit {
  &:hover {
    opacity: 1;
  }
}

.postActions {
  margin-top: 20px;
}

.moreActions {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  position: absolute;
  left: 63%;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  &:active {
    background: rgba(255, 255, 255, 0.2);
  }
}

.blog {
  .actions {
    width: 170px;
    height: 70px;
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    left: calc(66% - 170px);
    margin-top: 50px;
    // transition: all 0.1s ease 0s;
    .row {
      cursor: pointer;
      height: 50%;
      display: flex;
      align-items: center;
      padding: 8px;
      transition: all 0.2s ease 0s;
      background: rgba(255, 255, 255, 0.1);
      &:first-child {
        border-radius: 5px 5px 0 0;
      }
      &:last-child {
        border-radius: 0 0 5px 5px;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    .save {
      background: rgba(114, 255, 170, 0.2);
      &:hover {
        background: rgba(114, 255, 170, 0.3);
      }
    }
  }
}
