.home{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  background : rgba(0,0,0,0.4);
  height: 95vh;
  width:80vw;
  border-radius: 33px;
  backdrop-filter: blur(10px);
  margin: 0 auto;
  border:1px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  .col{
    padding: 20px;
    &:not(:last-child){
      border-right: 1px solid rgba(255,255,255,0.2);
    }
  }

  .left{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .name{
      font-size: 22px;
      font-weight: 600;
      color: rgba(255,255,255,10);
      margin-bottom: 20px;
      span{
        color: rgba(255,255,255,0.7);
        font-size:20px;
        font-weight: 300;
      }
    }
  }
  
  .middle{
    overflow: auto;
    .inputSection{
      display:flex;
      flex-direction: column;
      border-bottom:1px solid rgba(255,255,255,0.1);
      input{
        all:unset;
        background:none;
        outline: none;
        border: none;
        line-height: 40px;
        color: white;
        &::placeholder{
          color: rgba(255,255,255,0.6);
        }
      }
      button{
        all: unset;
        width:100px;
        height:30px;
        border-radius: 7px;
        background:white;
        display:grid;
        place-content: center;
        align-self: flex-end;
        margin: 30px 0;
        transition: all 0.2s ease 0s;
        cursor: pointer;
        &:hover{
          background: rgba(255,255,255,0.8);

        }
      }
    }
    .blog{
      padding:10px;
      color:white;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      display:flex;
      justify-content: space-between;
      text-align: left;
      align-items: center;
      .left{
        all:unset;
        input{
          all:unset;
          font-size: 14px;
          font-weight: 300;
          color: rgba(255,255,255,0.4);
          height: auto;
          width: 100%;
          border: none;
          display: inline;
          font-family: inherit;
          font-size: inherit;
          padding: none;
          width: auto;
        }
      }
      span{
        color: rgba(255,255,255,1);
        font-size: 16px;
        font-weight: 600;
        cursor: normal;
      }
      p{
        font-size: 14px;
        font-weight: 300;
        color: rgba(255,255,255,0.9);
      }
      .right{
        cursor:pointer;
      }
    }
  }
}